.btn {
    font-family: $ptmono;
    font-size: $medium;
    padding: 8px;
    margin-left: 32px;
    border-radius: 0px!important;
    

}
.btn.btn-outline-success{
    margin-right: 70px;
    color: $white;
    background-color: $Shinyshamrock;
}
